/* body {
    height: 100vh;
    background-color: #333745;
    background-image: -webkit-linear-gradient(20deg, #333745 50%, #3E92CC 50%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */